# snakemake
.snakemake/
snakemake_conda_envs/

# environments
envs/

# sequencing data
*.fastq
*.fastq.gz
*.bam
*.sam

# run folders
SRR*/
data/
resources/

# results
results/

# plots
*.pdf
Rplots.pdf

# R temporary files
.Rhistory
.RData
*.RDS

# backups
*.save

# system
.DS_Store
